<!DOCTYPE html>
{% load static %}

<html>
    <head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>No title</title>
        {% endif %}
        <link rel="stylesheet" href={% static "users/css/style.css" %} type="text/css"/>
    </head>

    <body>
        <header>
            <h1>Shustrick!</h1>
            {% if user.is_authenticated %}
                    <p>Hello <a href={% url "users:detail" user.pk %}>{{ user.username }}</a></p>
                    <a href={% url "users:logout" %}>Logout</a>
                {% else %}
                    <div>
                        <a href={% url "users:login" %}>Login</a> | 
                        <a href={% url "users:register" %}>Register</a>
                    </div>
            {% endif %}
            <br/>
            <a href={% url "articles:index" %}>Home(KOD)</a>
            <br/>
            <a href={% url "articles:create" %}>Create Article</a>
                </header>
        {% block content %}{% endblock %}
    </body>

</html>