{% extends "users/base.html" %}
{% load users_extras %}

{% block content %}
    <a href='{{ target_user.get_absolute_url }}'>
        {% if target_user.image %}
            {% user_image target_user 150 %}
        {% endif %}
        {{ target_user }}
    </a>
    {% if full_page%}
        <p>Additional information about this account</p>
        <p>Can only be seen by the account owner</p>
    {% endif %}
    {% for article in articles %}
        <div class="article">
            <a href={{ article.get_absolute_url }}>{{ article.title }}</a>
            {% if full_page%}
                <a href="{% url "articles:delete" article.pk %}">Delete</a>
                {% if article.is_published == False%}
                    <a href="{% url "articles:set_status" article.pk 'public' %}">Public</a>
                {% else %}
                    <a href="{% url "articles:set_status" article.pk 'hide' %}">Hide</a>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock content %}