<!DOCTYPE html>
{% load static %}
{% load articles_extras %}

<html>
    <head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>No title</title>
        {% endif %}
        <link rel="stylesheet" href={% static "articles/css/style.css" %} type="text/css"/>
    </head>

    <body>
        <div class="header">
            <b>Shustrick</b>
            <div class="user">
            {% if user.is_authenticated %}
                    <a href={% url "users:detail" user.pk %}>Profile</a>
                    <a href={% url "users:logout" %}>Logout</a>
                {% else %}
                    <a href={% url "users:login" %}>Login</a>
                    <a href={% url "users:register" %}>Register</a>
            {% endif %}
            </div>
            {% menu choosen_ref%}
        </div>
        {% block content %}{% endblock %}
    </body>

</html>