{% extends "articles/base.html" %}
{% load users_extras %}

{% block content %}
    <div id="index">
    <h1>Articles</h1>
    {% for obj in objects %}
        <div class="article">
            <div class="title">
                <a href={{ obj.get_absolute_url }}>{{ obj.title }}</a>
            </div>
            <div class="content">
                <p>{{ obj.content|truncatewords:30 }}</p>
            </div>
            <a href='{{ obj.creator.get_absolute_url }}'>
                {% user_image obj.creator 50 %}{{ obj.creator }}
            </a>
        </div>
    {% endfor %}
    </div>
{% endblock content %}
